<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.szysky.note.ipc"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 开始aidl通信 -->
        <activity android:name=".aidl.AidlClientActivity" />

        <service
            android:name=".aidl.AidlService"
            android:enabled="true"
            android:exported="true" />

        <!-- 开始messenger通信 -->
        <activity android:name=".messenger.MessengerClientActivity" />

        <service android:name=".messenger.MessengerService" />

        <activity android:name="broadcast.ChargerConnectedActivity" />

        <receiver android:name="broadcast.ChargerConnectedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <!-- 监听重启 -->
        <receiver
            android:name="broadcast.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <!-- 检查wifi广播-->
        <receiver
            android:name="broadcast.CheckForHomeWifi"
            android:enabled="true"
            android:exported="true">

            <intent-filter>

                <!--监听wifi的连接状态是否连接上一个有效无线路由-->
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <!--监听wifi的打开和关闭, 和wifi具体的连接不关心-->
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>

        </receiver>
    </application>

</manifest>