<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.szysky.note.ipc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>


        <!--开始aidl通信-->
        <activity android:name=".aidl.AidlClientActivity">

        </activity>
        <service
            android:name=".aidl.AidlService"
            android:enabled="true"
            android:exported="true" />


        <!--开始messenger通信-->
        <activity android:name=".messenger.MessengerClientActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".messenger.MessengerService"/>
    </application>

</manifest>